// Color Variables
$primary-gradient: linear-gradient(254.38deg, #595BE2 -62.34%, #45CDFF 172.32%);
$primary-color: #5286EE;
$text-color: #808080;
$text-color-dark: #003135;
$text-color-light: #C2C2C2;
$body-color: #fff;
$border-color: #E5E5E5;
$black: #000;
$white: #fff;
$light: #fcfcfc;
// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font:'Lora', serif;
$icon-font: 'themify';