html {
  @apply text-base;
}

/* A shadcn ui shifting bug workaround */
body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

body {
  @apply bg-background font-primary text-text text-base leading-relaxed font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-dark leading-tight font-bold;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

button {
  @apply cursor-pointer;
}

/* custom scrollbar */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

*:hover::-webkit-scrollbar-thumb {
  background: var(--muted);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground) !important;
} */
